.sl-slider-wrapper {
	overflow: scroll !important;
	margin: 0 auto;
}

/* Slide wrapper and slides */

.sl-slider,
.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
	width: 100%;
	height: 100%;
}

.demo-1 .sl-slide blockquote {
	width: 50%;
	left: 25%;
}

.nav-arrows,
.nav-dots {
	display: none;
}
